@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300;1,400&display=swap');
:root {
    --background-color: #1f1f1f; /* Dark background color */
    --text-color: #3c2020; /* Light text color for dark background */
    /* Define other color variables for dark theme */
}

body{
  font-family: 'Merriweather', serif;
}
  
body.dark-theme {
    background-color: var(--background-color);
    color: var(--text-color);
    /* Apply other color variables for dark theme */
}
  
#proInfo {
    position: absolute;
    height: inherit;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-items: center;
    padding: 0%;
    background-color: #989191; /* Add a background color for visualization */
}
  
  /* Navigation links */
#proInfo nav ul {
    list-style: none;
    display: flex;
    gap: 2vw;
    margin: 0;
    padding: 0;
}
  
  /* List items within navigation */
#li1 {
    font-size: 2rem;
    text-decoration:none;
}
  
  /* Profile name */
#proInfo h1 {
    font-size: 2rem;
    font-weight: bold;
}
  
#profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 3vw;
    background-color: #3c404d;
    width: 1000px;
}


#aboutMe {
    flex-grow: 1;
    margin-left: 3vw;
    font-family: Arial, sans-serif; /* Use a common sans-serif font */
    line-height: 5vh; /* Adjust line height for better readability */
    color: #b9abab; /* Use a darker gray color for text */
    font-size: 1.5rem;
}

.expandable-container1 {
    max-height: 12vh;
    overflow: hidden;
    border: 0.1vh solid #ccc;
    color: aliceblue;
}
.newexpandable-container1 {
  max-height: 50vh;
  overflow: auto;
  border: 0.1vh solid #ccc;
  color: aliceblue;
}

.work-experience:hover{
  cursor: pointer;
}


.work-experience {
  font-size: 3rem;
  margin-bottom: 1vh;
  color: #000;
}

.work-experience i {
  margin-right: 2vh;
}

 



.expandable-container2 {
  max-height: 12vh;
  overflow: hidden;
  border: 0.1vh solid #ccc;
  color: aliceblue;
}
.newexpandable-container2 {
  max-height: 50vh;
  overflow: auto;
  border: 0.1vh solid #ccc;
  color: aliceblue;
}

.Projects:hover{
cursor: pointer;
}



/* Apply the animation to the element with the ID "animatedDiv" */


.Projects {
  font-size: 3rem;
  margin-bottom: 1vh;
  color: #000;
}

.Projects i {
margin-right: 2vh;
}

/* footer css */

/* Basic styling for the footer */
footer {
  background-color: #333;
  color: white;
  text-align: center;
}



.expandable-container3 {
  max-height: 12vh;
  overflow: hidden;
  border: 0.1vh solid #ccc;
  color: aliceblue;
}
.newexpandable-container3 {
  max-height: 50vh;
  overflow: auto;
  border: 0.1vh solid #ccc;
  color: aliceblue;
}

.contacts:hover{
cursor: pointer;
}

/* Apply the animation to the element with the ID "animatedDiv" */


.contacts {
  font-size: 3rem;
  margin-bottom: 1vh;
  color: #000;
}

.contacts i {
margin-right: 2vh;
}

#li1 a:hover{
  color: #d61515;
  cursor: pointer;
}


/* Styling for the footer content */
.footer-content {
  max-width: 100%;
  margin: 0 auto;
}

/* Styling for footer links */
.footer-links a {
  color: #ccc;
  text-decoration: none;
  margin-right: 2vw;
}

/* Change link color on hover */
.footer-links a:hover {
  color: #ff9900;
}

/* Styling for social icons */
.footer-social a {
  color: white;
  font-size: 2rem;
  margin: 0 1vw;
}

/* Adjust icon colors on hover */
.footer-social a:hover {
  color: #ff9900;
}


@media (max-width: 600px) {
  #heder{
    display: none;
  }
  #profile{
    position: relative;
    flex-direction: column;
    overflow-x: hidden;
    width: 400px;
  }
  #Profile-Picture{
    position: relative;
  }
 #aboutMe{
  font-size: 1.1rem;
 }

}


@media (min-width: 600px) and (max-width: 800px){
  #heder{
    display: none;
  }
  #profile{
    position: relative;
    flex-direction: column;
    overflow-x: hidden;
    width: 550px;
  }
  #aboutMe{
    font-size: 1.4rem;
   }
}

@media (min-width: 800px) and (max-width: 900px){
  #heder{
    display: none;
  }
  #profile{
    position: relative;
    flex-direction: column;
    overflow-x: hidden;
    width: 700px;
  }
  #aboutMe{
    font-size: 1.4rem;
   }
}

@media (min-width: 900px) and (max-width: 1100px){
  #heder{
    display: none;
  }
  #profile{
    position: relative;
    flex-direction: column;
    overflow-x: hidden;
    width: 750px;
  }
  #aboutMe{
    font-size: 1.4rem;
   }
}




